{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
<header class="hero-bg">
  <video loop muted autoplay poster="https://" class="hero-bg__video hero-bg--below">
    <source src="city.mp4" type="video/webm">
    <source src="city.mp4" type="video/mp4">
    <source src="city.mp4" type="video/ogg">
  </video>
  <header class="hero-bg--above navbar">
    <section class="navbar-section">
      {{ logo("light") }}
    </section>
    <section class="navbar-section">
      <a href="#" class="btn btn-link">Schedule A Demo</a>
    </section>
  </header>
  <section class="hero hero-bg--above">
    <div class="hero-body container grid-lg text-center">
      <h1>The AI-Enabled Claims Team Has Arrived.</h1>
      <p>The insurers of tomorrow are using AI Power Tools to…</p>
      <div class="columns mb-2">
        <div class="column col-4 col-sm-12">
          <img src="" alt="image goes here">
          <p>
            Cut Loss Adjustment Costs
          </p>
        </div>
        <div class="column col-4 col-sm-12">
          <img src="" alt="image goes here">
          <p>
            Guard Against Fraudulent Claims
          </p>
        </div>
        <div class="column col-4 col-sm-12">
          <img src="" alt="image goes here">
          <p>
            Increase Customer Loyalty
          </p>
        </div>
      </div>
      <button class="btn btn-primary btn-lg mb-2">Explore The Platform</button>
      <p><small>or <a href="">watch our latest talk at the 2019 Connected Claims Conference</a></small></p>
    </div>
  </section>
</header>
<section class="section bg-dark">
  <div class="container grid-lg">
    <div class="columns">
      <div class="column col-6 col-sm-12">
        <blockquote>
          <p>“Digital claims transformations generate impact across all of claims’ foundational key performance indicators.” <a href="#footnote-01"><sub>1</sub></a></p>
        </blockquote>
      </div>
      <div class="column col-3 col-sm-12 text-center">
        <h5>Customer Satisfaction</h5>
        <p class="mb-0">&Delta; 20%</p>
        <p><small>Average increase</small></p>
      </div>
      <div class="column col-3 col-sm-12 text-center">
        <h5>Claims Expenses</h5>
        <p class="mb-0">&nabla; 20%</p>
        <p><small>Average decreace</small></p>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container grid-lg">
    <h2 class="text-center">
      You know your business, but your domain expertise isn’t enough in the AI-powered world of tomorrow.
    </h2>
    <div class="columns">
      <div class="column col-7 col-sm-12">
        <p>
          It takes super powers to grow a business in a world where competitors are enabled with sophisticated AI-powered tools and increasingly experience-conscious customers are demanding a fast, modern, and personalized experience.
        </p>
        <p>
          When building Metromile, we recognized these challenges and invested heavily in AI to help us meet the demands of the modern insurance market. Not only did we achieve amazingly efficient LAE and reduced loss leakage, Forrester Research rated us the #1 claims experience.
        </p>
        <p>
          We’re now offering this suite of enterprise-grade, road-tested AI power tools to help insurance carriers meet the demands of tomorrow. Read our <a href="">Gradual AI Transformation Whitepaper</a> to learn how to begin or accelerate your claims transformation.
        </p>
      </div>
      <div class="column col-5 col-sm-12">
        <img src="" alt="image goes here">
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container grid-lg">
    <h2 class="text-center">
      Expected Outcomes
    </h2>
    <p class="text-center">
      Here’s what you can expect when you transform your claims with Metromile Enterprise*
    </p>
    <div class="columns">
      <div class="column col-3 col-sm-12 text-center">
        <p class="mb-0">85%</p>
        <p>Target Combined Ratio</p>
      </div>
      <div class="column col-3 col-sm-12 text-center">
        <p class="mb-0">&nabla; 85%</p>
        <p>Reduction in LAE</p>
      </div>
      <div class="column col-3 col-sm-12 text-center">
        <p class="mb-0">&nabla; 4%</p>
        <p>Target Combined Ratio</p>
      </div>
      <div class="column col-3 col-sm-12 text-center">
        <p class="mb-0">&lt; 85%</p>
        <p>Target Combined Ratio</p>
      </div>
    </div>
    <p>* Based on industry averages</p>
  </div>
</section>
<section class="section bg-gray">
  <div class="container grid-lg">
    <div class="columns">
      <div class="column col-3 col-sm-12 text-center">
        <img src="" alt="image goes here">
      </div>
      <div class="column col-9 col-sm-12">
        <blockquote>
          <p>“Metromile has built the most advanced claims automation process assisted by AI and machine learning, and we look forward to enabling our customers to experience a faster, no hassle claim filing with this technology.” </p>
          <cite class="d-flex" style="justify-content: space-between">
            <p>
              <b>Makoto Okada</b>
              <br>
              Group Chief Digital Officer, Tokio Marine Holdings
            </p>
            <img src="images/tm_america_symbol.png" height="48px">
          </cite>
        </blockquote>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container grid-lg">
    <div class="columns">
      <div class="column col-9 col-sm-12">
        <h2>
          Large scale Claims Transformation doesn’t have to be a headache. Deploy the entire suite, or one product to unlock the benefits immediately.
        </h2>
      </div>
      <div class="column col-3 col-sm-12">
        <img src="" alt="image goes here">
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container grid-lg">
    <h2 class="text-center">Dynamic First Notice of Loss (DFNOL)</h2>
    <div class="columns">
      <div class="column col-3 col-sm-12">
        <img src="" alt="image goes here">
      </div>
      <div class="column col-9 col-sm-12">
        <p>
          The key to success with AI begins with FNOL. The point of loss is an insurer’s biggest opportunity to impress a customer, which builds trust and loyalty, or to disappoint, leading those unhappy customers to tell the world. Metromile’s DFNOL provides a streamlined, delightful experience that experience-conscious consumers of today demand. The result is happier customers, fewer phone calls, and a rich tapestry of data that other AI-powered tools in the suite can take advantage of.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container grid-lg">
    <h2 class="text-center">Fraud Intelligence</h2>
    <div class="columns">
      <div class="column col-9 col-sm-12">
        <p>
          As criminals become more sophisticated, only AI has the ability to reduce your loss leakage without massively scaling your Special Investigative Unit. However, AI can’t do this job alone. Our approach encapsulates the deep expertise of your investigators into signals that our AI power tools take advantage of, leading to happier investigators and drastically reducing your loss ratio. Use as a standalone product, or pair with DFNOL to hamper criminals at the point of loss.
        </p>
      </div>
      <div class="column col-3 col-sm-12">
        <img src="" alt="image goes here">
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container grid-lg">
    <h2 class="text-center">Claims Automation Engine</h2>
    <div class="columns">
      <div class="column col-3 col-sm-12">
        <img src="" alt="image goes here">
      </div>
      <div class="column col-9 col-sm-12">
        <p>
          The real magic of AI is realized with our Claims Automation Engine. More than simple RPA, this tool takes on the high volume of easy, mundane, and repetitive tasks inherent in claims processing. Not only will you drastically reduce LAE, cycle times, and human error, but your claims adjusters will love you. Gone are the days where they must robotically spend most of their time on mundane tasks. Now, they can focus on higher touch customer service for challenging claims.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="section bg-gray">
  <div class="container grid-sm">
    <p class="text-center">
      <img class="mb-2" src="images/mckinsey-logo.svg">
    </p>
    <p>
      “As AI becomes more deeply integrated in the industry, carriers must position themselves to respond to the changing business landscape. Insurance executives must understand the factors that will contribute to this change and how AI will reshape claims, distribution, and underwriting and pricing. With this understanding, they can start to build the skills and talent, embrace the emerging technologies, and create the culture and perspective needed to be successful players in the insurance industry of the future.” <a href="#footnote-02"><sub>2</sub></a>
    </p>
  </div>
</section>
<section class="section bg-dark">
  <div class="container grid-sm">
    <h3 class="text-center">
      Leapfrog the competition by empowering your team with the AI-powered tools of tomorrow.
    </h3>
    <div class="form-group">
      <label class="form-label" for="email">Download our Gradual AI Transformation whitepaper today.</label>
      <div class="input-group">
        <input class="form-input" type="email" placeholder="Email address" name="email">
        <button class="btn btn-primary input-group-btn">Download Whitepaper</button>
      </div>
    </div>
    <p class="text-center">
      or <a href="">Schedule a Demo</a>.
    </p>
  </div>
</section>
<footer class="section bg-gray">
  <div class="container grid-sm">
    <small>
      <ol>
        <li id="footnote-01"> Ramnath Balasubramanian, Ari Libarikian, and Doug McElhaney. “Insurance 2030—The impact of AI on the future of insurance.” McKinsey Insights, April 2018, https://www.mckinsey.com/industries/financial-services/our-insights/insurance-2030-the-impact-of-ai-on-the-future-of-insurance. Accessed 21 May 2019.</li>
        <li id="footnote-02" style="word-break: break-word;"> Pia Brüggemann, Tanguy Catlin, Jonas Chinczewski, Johannes-Tobias Lorenz, and Samantha Prymaka. “Claims in the digital age: How insurers can get started.” Digital Insurance in 2018: Driving Real Impact with Digital and Analytics, December 2018, https://www.mckinsey.com/~/media/McKinsey/Industries/Financial%20Services/Our%20Insights/Digital%20insurance%20in%202018%20Driving%20real%20impact%20with%20digital%20and%20analytics/Digital-insurance-in-2018.ashx. Accessed 21 May 2019.</li>
      </ol>
    </small>
  </div>
</footer>
{% endblock %}
