{% extends 'layouts/application.html' %}

{% block content %}
<header class="hero">

  <div class="dampener"></div>

  <div class="hero__ol-option ol-option-1"></div>
  <div class="hero__ol-option ol-option-2"></div>
  <div class="hero__ol-option ol-option-3"></div>
  <div class="hero__ol-option ol-option-4"></div>

  <!-- Background video option -->
  <video loop muted autoplay poster="http://www.fillmurray.com/1920/1080" class="hero__video hero--below hero__bg-option bg-option-2">
    <source src="option1.mp4" type="video/webm">
    <source src="option1.mp4" type="video/mp4">
    <source src="option1.mp4" type="video/ogg">
  </video>

  <!-- Background video option -->
  <video loop muted autoplay poster="http://www.fillmurray.com/1920/1080" class="hero__video hero--below hero__bg-option bg-option-1">
    <source src="option2.mp4" type="video/webm">
    <source src="option2.mp4" type="video/mp4">
    <source src="option2.mp4" type="video/ogg">
  </video>

  <!-- Background video option -->
  <video loop muted autoplay poster="http://www.fillmurray.com/1920/1080" class="hero__video hero--below hero__bg-option bg-option-3">
    <source src="option3.mp4" type="video/webm">
    <source src="option3.mp4" type="video/mp4">
    <source src="option3.mp4" type="video/ogg">
  </video>

  <!-- Background video option -->
  <video loop muted autoplay poster="http://www.fillmurray.com/1920/1080" class="hero__video hero--below hero__bg-option bg-option-4">
    <source src="option4.mp4" type="video/webm">
    <source src="option4.mp4" type="video/mp4">
    <source src="option4.mp4" type="video/ogg">
  </video>

  <nav class="hero--above navbar hero__navbar">
    <section class="navbar-section">
      {{ logo("light") }}
    </section>
    <section class="navbar-section">
      <a href="#" class="btn">Schedule A Demo</a>
    </section>
  </nav>

  <section class="hero--above hero__content">
    <div class="hero-body container grid-xl text-center">
      <div class="columns mb-3">
        <h1 class="column col-9 col-xs-12 col-mx-auto">Your AI-Powered Claims Organization of the Future is Here.</h1>
        <h5 class="column col-6 col-xs-12 col-mx-auto">
          Metromile built the leading US pay-per-mile insurance company by creating an AI-powered claims intelligence platform on top of traditional claims management software.
          <br>
          <br>
          <b>
            Now, we’re licensing that platform to you.
          </b>
        </h5>
      </div>
      <a href="#" class="btn btn-primary btn-lg mb-2">Explore The Platform</a>
      <p><small>or <a href="">schedule a demo</a>.</small></p>
    </div>
  </section>
</header>

<!-- FOR DEV PURPOSES -->
<!-- <section class="section text-center">
  <div class="mb-2">
    <strong>Backgrounds: </strong>
    <button class="btn btn-lg active bg-switcher" data-switcher="bg-option-1">1</button>
    <button class="btn btn-lg bg-switcher" data-switcher="bg-option-2">2</button>
    <button class="btn btn-lg bg-switcher" data-switcher="bg-option-3">3</button>
    <button class="btn btn-lg bg-switcher" data-switcher="bg-option-4">4</button>
  </div>
  <div>
      <strong>Overlays: </strong>
      <button class="btn btn-lg active ol-switcher" data-switcher="ol-option-1">1</button>
      <button class="btn btn-lg ol-switcher" data-switcher="ol-option-2">2</button>
      <button class="btn btn-lg ol-switcher" data-switcher="ol-option-3">3</button>
      <button class="btn btn-lg ol-switcher" data-switcher="ol-option-4">4</button>
    </div>
</section> -->

<section class="section bg-dark p-2 overflow-hidden p-relative">
  <div class="ava-logo-bg"><img src="images/ava-logo-giant.svg"></div>
  <div class="border-primary py-3">
    <div class="container grid-xl">
      <h6 class="text-center text-gray">Introducing</h6>
      <h2 class="text-center"><img class="mr-1 p-relative" src="images/ava-logo-green-circle.svg" style="bottom: -10px;">AVA Claims Intelligence Platform</h2>
      <h5 class="text-center mb-3">
        Improve Your Combined Ratio <b class="highlight">by 10%*</b>
      </h5>
      <div class="columns mb-2">
        <div class="column col-3 col-lg-6 col-xs-12">
          <p class="text-center">
            <span class="text-center icon-badge">
              <img src="images/icon-saving-piggy-dollars.svg" alt="image goes here" height="160">
            </span>
          </p>
          <h6>
            <img class="icon icon--small icon__spacer--right" src="images/icon-arrow-green-up.svg" alt="increase">Operating Efficiencies
          </h6>
          <p>
            <small>Shave points off your LAE with richer data collection and AI-powered automation.</small>
          </p>
        </div>
        <div class="column col-3 col-lg-6 col-xs-12">
          <p class="text-center">
            <span class="text-center icon-badge">
              <img src="images/icon-shield-lock.svg" alt="image goes here" height="160">
            </span>
          </p>
          <h6>
            <img class="icon icon--small icon__spacer--right" src="images/icon-arrow-green-down.svg" alt="decrease">Fraud Loss Leakage
          </h6>
          <p>
            <small>Catch more real fraud, investigate fewer false positives, and stay on top of new threats.</small>
          </p>
        </div>
        <div class="column col-3 col-lg-6 col-xs-12">
          <p class="text-center">
            <span class="text-center icon-badge">
              <img src="images/icon-hand-heart.svg" alt="image goes here" height="160">
            </span>
          </p>
          <h6>
            <img class="icon icon--small icon__spacer--right" src="images/icon-arrow-green-up.svg" alt="increase">Customer Loyalty
          </h6>
          <p>
            <small>Create happier and more loyal customers with a claims experience rated #1 by Forrester.</small>
          </p>
        </div>
        <div class="column col-3 col-lg-6 col-xs-12">
          <p class="text-center">
            <span class="text-center icon-badge">
              <img src="images/icon-lightning-bolt.svg" alt="image goes here" height="160">
            </span>
          </p>
          <h6>
            <img class="icon icon--small icon__spacer--right" src="images/icon-arrow-green-up.svg" alt="increase">Employee Experience
          </h6>
          <p>
            <small>Give your team superpowers with an AI-powered platform that reduces repetitive busywork.</small>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Transformation Roadmap Section -->
<section class="section">
  <div class="container grid-lg">
    <header class="section__header mb-4">
      <h5 class="text-center">Digital Claims Transformation</h5>
      <h2 class="text-center">
        The Claims Transformation Roadmap
      </h2>
    </header>
    <div class="columns">

      <div class="column col-sm-12 col-6">
        <p>
          <strong>Cutting edge AI and sophisticated telematics are poised to transform the insurance industry.</strong> Organizations must also adapt to remain competitive, however this doesn’t have to be a painful process. We built our Platform to mitigate difficulties that can arise from large scale change management.
        </p>
        <h6><img src="images/icon-ramp-up.svg" class="icon icon--small icon__spacer--right"> Gradual Modernization</h6>
        <p>
          Cutting edge AI and sophisticated telematics are poised to transform the insurance industry. Organizations must also adapt to remain competitive, however this doesn’t have to be a painful process. We built our Platform to mitigate difficulties that can arise from large scale change management.
        </p>
        <h6><img src="images/icon-end-to-end.svg" class="icon icon--small icon__spacer--right"> End-to-End Transformation</h6>
        <p>
          A true digital transformation should aim to improve the entire lifecycle of a claim. This holistic approach to AI-enablement yields the most value through network effects.
        </p>
        <h6><img src="images/icon-compatibility.svg" class="icon icon--small icon__spacer--right"> Full Compatibility</h6>
        <p>
          Our software is designed to integrate fully into the claims management system of your choice, based on the unique needs and constraints of your business.
        </p>
      </div>
      <div class="column col-sm-12 col-6">
        <figure class="figure">
          <video controls poster="http://www.fillmurray.com/450/250 " class="media--video">
            <source src="option1.mp4" type="video/webm">
            <source src="option1.mp4" type="video/mp4">
            <source src="option1.mp4" type="video/ogg">
          </video>
          <figcaption class="figure-caption text-center">Amrish Singh, VP Product, Enterprise at the Connected Claims Conference 2019</figcaption>
        </figure>
        <div class="whitepaper-cta-1">
          <h6>Download Whitepaper</h6>
          <p>
            For a more in-depth review of opportunities for AI to transform your organization, we’ll send you a copy of our whitepaper.
          </p>
          <div class="form-group">
            <label class="form-label" for="email1">Download <strong>AI-Powered Organizational Transformation</strong></label>
            <div class="input-group">
              <input class="form-input" type="email" placeholder="Your Email address" name="email1" id="email1">
              <input type="button" class="btn btn-primary input-group-btn" value="Email me a copy">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container grid-lg">
    <div class="columns">
      <div class="column">

        <q class="quotation">Digital claims transformations generate impact across all of claims’ foundational key performance indicators.</q>
        <div id="graph__scroll-trigger">
          <div class="graph graph--expenses">
            <small class="graph__label">Claims Expenses</small>
            <svg width="160" height="160" xmlns="http://www.w3.org/2000/svg">
            <g>
              <title>Layer 1</title>
              <circle class="circle_animation" r="69.85699" cy="81" cx="81" stroke-width="6" stroke="#0DC0C9" fill="none"/>
            </g>
            </svg>
          </div>
          <div class="graph graph--satisfaction">
            <small class="graph__label">Customer Satisfaction</small>
            <svg width="160" height="160" xmlns="http://www.w3.org/2000/svg">
            <g>
              <title>Layer 1</title>
              <circle class="circle_animation" r="69.85699" cy="81" cx="81" stroke-width="6" stroke="#0DC0C9" fill="none"/>
            </g>
            </svg>
          </div>
        </div>
        <span class="text-center">&mdash; <a href="#">McKinsey Insights</a></span>
        
      </div>
    </div>
  </div>
</section>

<section class="section section-divided diagonal-flair diagonal-flair-1">
  <div class="container grid-lg">
    <div class="card">
      <div class="columns">
        <div class="column col-3 col-sm-12 text-center">
          <img src="" alt="image goes here">
        </div>
        <div class="column col-9 col-sm-12">
          <blockquote>
            <p>“Metromile has built the most advanced claims automation process assisted by AI and machine learning, and we look forward to enabling our customers to experience a faster, no hassle claim filing with this technology.” </p>
            <cite class="d-flex" style="justify-content: space-between">
              <p>
                <b>Makoto Okada</b>
                <br>
                Group Chief Digital Officer, Tokio Marine Holdings
              </p>
              <img src="images/tm_america_symbol.png" height="48px">
            </cite>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container grid-lg">
    <div class="columns">
      <div class="column col-9 col-sm-12">
        <h2>
          Large scale Claims Transformation doesn’t have to be a headache. Deploy the entire suite, or one product to unlock the benefits immediately.
        </h2>
      </div>
      <div class="column col-3 col-sm-12">
        <img src="" alt="image goes here">
      </div>
    </div>
  </div>
</section>

<section class="section diagonal-flair diagonal-flair-1">
  <div class="container grid-lg card">
    <h2 class="text-center">Dynamic First Notice of Loss (DFNOL)</h2>
    <div class="columns">
      <div class="column col-3 col-sm-12">
        <img src="" alt="image goes here">
      </div>
      <div class="column col-9 col-sm-12">
        <p>
          The key to success with AI begins with FNOL. The point of loss is an insurer’s biggest opportunity to impress a customer, which builds trust and loyalty, or to disappoint, leading those unhappy customers to tell the world. Metromile’s DFNOL provides a streamlined, delightful experience that experience-conscious consumers of today demand. The result is happier customers, fewer phone calls, and a rich tapestry of data that other AI-powered tools in the suite can take advantage of.
        </p>
      </div>
    </div>
  </div>
  <div class="container grid-lg card">
    <h2 class="text-center">Fraud Intelligence</h2>
    <div class="columns">
      <div class="column col-9 col-sm-12">
        <p>
          As criminals become more sophisticated, only AI has the ability to reduce your loss leakage without massively scaling your Special Investigative Unit. However, AI can’t do this job alone. Our approach encapsulates the deep expertise of your investigators into signals that our AI power tools take advantage of, leading to happier investigators and drastically reducing your loss ratio. Use as a standalone product, or pair with DFNOL to hamper criminals at the point of loss.
        </p>
      </div>
      <div class="column col-3 col-sm-12">
        <img src="" alt="image goes here">
      </div>
    </div>
  </div>
  <div class="container grid-lg card">
    <h2 class="text-center">Claims Automation Engine</h2>
    <div class="columns">
      <div class="column col-3 col-sm-12">
        <img src="" alt="image goes here">
      </div>
      <div class="column col-9 col-sm-12">
        <p>
          The real magic of AI is realized with our Claims Automation Engine. More than simple RPA, this tool takes on the high volume of easy, mundane, and repetitive tasks inherent in claims processing. Not only will you drastically reduce LAE, cycle times, and human error, but your claims adjusters will love you. Gone are the days where they must robotically spend most of their time on mundane tasks. Now, they can focus on higher touch customer service for challenging claims.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container grid-sm">
    <p class="text-center">
      <img class="mb-2" src="images/mckinsey-logo.svg">
    </p>
    <p>
      “As AI becomes more deeply integrated in the industry, carriers must position themselves to respond to the changing business landscape. Insurance executives must understand the factors that will contribute to this change and how AI will reshape claims, distribution, and underwriting and pricing. With this understanding, they can start to build the skills and talent, embrace the emerging technologies, and create the culture and perspective needed to be successful players in the insurance industry of the future.” <a href="#footnote-02"><sub>2</sub></a>
    </p>
  </div>
</section>
<section class="section bg-primary overflow-hidden p-relative">
  <div class="ava-logo-bg"><img src="images/ava-logo-giant.svg"></div>
  <div class="container grid-md">
    <h3 class="text-center">
      Leapfrog the competition by empowering your team with the AI-powered tools of tomorrow.
    </h3>
    <div class="form-group text-center">
      <label class="form-label" for="email">Download our Gradual AI Transformation whitepaper today.</label>
      <div class="input-group">
        <input class="form-input" type="email" placeholder="Email address" name="email">
        <button class="btn btn-primary input-group-btn">Email Me A Copy</button>
      </div>
    </div>
    <p class="text-center">
      or <a href="">Schedule a Demo</a>.
    </p>
  </div>
</section>
<footer class="section bg-gray">
  <div class="container grid-sm">
  </div>
</footer>
{% endblock %}
