.btn {
  font-family: $font-stack-header;
  text-transform: uppercase;
  font-size: $font-size-sm;
  font-weight: 500;
  font-feature-settings: "salt";
}

.btn.btn-primary {
  @include button-variant($color: #FE6F67);
  font-weight: 500;
}

.btn.btn-lg {
  font-size: $font-size-sm;
  height: 2rem;
  padding: 0.35rem 0.6rem;
}
