.btn {
  font-family: $font-stack-header;
  text-transform: uppercase;
  font-size: $font-size-sm;
  font-weight: 500;
  font-feature-settings: "salt";
  text-decoration: none;
}

.btn.btn-primary {
  @include button-variant($color: #FE6F67);
  font-weight: 500;
  border-radius: 1000px;
  border-color: #FE574E;
}

.btn.btn-lg {
  font-size: $font-size-sm;
  padding: 1.75rem 2.5rem;
  font-weight: 500;
  border-radius: 1000px;
  height: auto;
}
