.card {
  background: white;
  box-shadow: 0 6px 24px transparentize($dark-color, .9);
  border-radius: $unit-1;
  border: 0;
  display: flex;
  //margin-bottom: $unit-4;

  &--horizontal {
    flex-direction: row;
  }

  &__header {
    //background-color: $color-neutral-3;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: $unit-1 * 16.5;
    border-radius: $unit-1 $unit-1 0 0;
    @media (min-width: $size-sm) and (max-width: $size-xl) {
      width: 40%;
      height: auto;
      border-radius: $unit-1 0 0 $unit-1;
    }
}

  &__body {
    padding: $unit-3;
    width: 100%;
    @media (min-width: $size-sm) and (max-width: $size-xl) {
      width: 60%;
    }

    &--full {
      width: 100%;
      padding: $unit-4;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }
}

.product-card {
  margin-bottom: $unit-2;
  &-header {
    background-size: 512px;
  }
  &-body {
    background: url('../images/line-bg-01.svg');
    background-position: center top;
    background-size: 512px;
    padding: 1rem 3rem 3rem 3rem;
  }
  &-title {
    color: #00084E;
    font-family: $font-stack-header;
    font-weight: 700;
    font-style: italic;
    font-size: 2.5rem;
    margin-bottom: $unit-2;
    text-align: center;
  }
}

.column:nth-child(2), .column:nth-child(4){
  .product-card-body {
    background: url('../images/line-bg-02.svg');
    background-position: center top;
    background-size: 512px;
  }
}
