.card {
  background: white;
  box-shadow: 0 6px 24px transparentize($dark-color, .9);
  border-radius: $unit-1;
  border: 0;
  display: flex;
  margin-bottom: $unit-4;

  &--horizontal {
    flex-direction: row;
  }

  &__header {
    background-color: $color-neutral-3;
    border-radius: $unit-1 0 0 $unit-1;
    width: 40%;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__body {
    width: 60%;
    padding: $unit-3;

    &--full {
      width: 100%;
      padding: $unit-4;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }
}
