.card {
  background: white;
  box-shadow: 0 2rem 2rem -1rem transparentize($dark-color, .75);
  border-radius: $unit-1;
  border: 0;
  display: flex;

  &--horizontal {
    flex-direction: row;
  }

  &__header {
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: $unit-1 * 16.5;
    border-radius: $unit-1 $unit-1 0 0;
}

  &__body {
    padding: $unit-3;
    width: 100%;

    &--full {
      width: 100%;
      padding: $unit-2;

      @media (min-width: $size-sm) {
        padding: $unit-4;
      }
    }

    p:last-child {
      margin-bottom: 0;
    }
  }
}

.product-card {
  margin: 0 auto $unit-2;
  max-width: 480px;

  &-header {
    background-size: 512px;
  }
  
  &-body {
    background: url('../images/line-bg-01.svg');
    background-position: center top;
    background-size: 512px;
    padding: 1rem 3rem 3rem 3rem;
  }
  
  &-title {
    color: #00084E;
    font-family: $font-stack-header;
    font-weight: 700;
    font-style: italic;
    font-size: 2.5rem;
    margin-bottom: $unit-2;
    text-align: center;
  }

  // @media (min-width: $size-sm) and (max-width: $size-lg) {
  //   width: 68.2%;
  // }
}

.column:nth-child(2), .column:nth-child(4){
  .product-card-body {
    background: url('../images/line-bg-02.svg');
    background-position: center top;
    background-size: 512px;
  }
}
