.footer {
  background: $color-neutral-10;
  color: $color-neutral-6;
}

.footer-logo {
  background: url('../images/M-stand-alone_white.svg') no-repeat;
  text-indent: -999999px;
  display: block;
  width: $unit-2;
  height: $unit-2;
  padding: 1.5rem;
  margin-bottom: 0.5rem;
}

.social {
  display: flex;
  justify-content: flex-end;
  margin: 2.5rem 0 0;

  @media (max-width: $size-xs) {
    justify-content: center;
  }

  a {
    padding: $unit-1;
    display: block;

    &:hover i {
      opacity: 1;
      transition: $transition-on;
    }
  }

  [class*="icon-"] {
    width: 1.5rem;
    height: 1.5rem;
    display: block;
    opacity: 0.6;
    transition: $transition-off;
  }

  [class*="twitter"] { background-image: url('../images/twitter.svg'); }
  [class*="linkedin"] { background-image: url('../images/linkedin.svg'); }
  [class*="facebook"] { background-image: url('../images/facebook.svg'); }

  li {
    list-style: none;
    margin: 0 $unit-1;
  }
}
