// .graph {
//   position: relative;
//   // float: left;
//   display: flex;
//   justify-content: center;

//   &__label {
//     text-align: center;
//     position: absolute;
//     line-height: 1em;
//     width: 100%;
//     top: 40%;
//   }

//   &__numbers {
//     text-align: center;
//     position: absolute;
//     line-height: 1em;
//     width: 100%;
//     top: 50%;
//   }

//   svg {
//     transform: rotate(30deg);
//   }

//   .circle_animation {
//     stroke-dasharray: 590;
//     stroke-dashoffset: 590;
//   }
// }

// #graph__scroll-trigger.animate {
//   .graph--expenses .circle_animation {
//     animation: expenses 2s ease-in-out forwards;
//   }

//   .graph--satisfaction .circle_animation {
//     animation: satisfaction 2s ease-in-out forwards;
//   }
// }

// @keyframes expenses {
//   to {
//     stroke-dashoffset: 400;
//   }
// }

// @keyframes satisfaction {
//   to {
//     stroke-dashoffset: 340;
//   }
// }


/* DONUT SECOND ATTEMPT */

.svg-item {
  width: 100%;
  font-size: 16px;
  margin: 0 auto;
  animation: donutfade 1s;
}

@keyframes donutfade {
  /* this applies to the whole svg item wrapper */
  0% {
    opacity: .2;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 992px) {
  .svg-item {
    width: 80%;
  }
}

.donut-ring {
  stroke: $color-neutral-3;
}

.donut-segment {
  transform-origin: center;
  stroke: $color-brand;
  stroke-linecap: round;
}

.animate {
  .donut-segment-1 {
    animation: donut1 1.5s ease-out;
  }

  .donut-segment-2 {
    animation: donut2 1.5s ease-out;
  }
}

.donut-percent {
    animation: donutfadelong 1s;
}

@keyframes donutfadelong {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes donut1 {
    0% {
        stroke-dasharray: 0, 100;
    }
    100% {
        stroke-dasharray: 30, 70;
    }
}

@keyframes donut2 {
    0% {
        stroke-dasharray: 0, 100;
    }
    100% {
        stroke-dasharray: 20, 80;
    }
}

.donut-text {
    // font-family: Arial, Helvetica, sans-serif;
    fill: $color-brand;
}
.donut-text-1 {
    fill: aqua;
}
.donut-text-2 {
    fill: #d9e021;
}
.donut-text-3 {
    fill: #ed1e79;
}

.donut-label {
    font-size: 0.28em;
    font-weight: 700;
    line-height: 1;
    fill: #000;
    transform: translateY(0.25em);
}

.donut-percent {
  font-size: 0.3em;
  line-height: 1;
  transform: translateY(0.5em);
  font-weight: 200;
}

.donut-data {
    font-size: 0.12em;
    line-height: 1;
    transform: translateY(0.5em);
    text-align: center;
    text-anchor: middle;
    color:#666;
    fill: #666;
    animation: donutfadelong 1s;
}

