.graph {
  position: relative;
  float: left;

  &__label {
    text-align: center;
    position: absolute;
    line-height: 1em;
    width: 100%;
    top: 40%;
  }

  svg {
    transform: rotate(-90deg);
  }

  .circle_animation {
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
  }
}

#graph__scroll-trigger.animate {
  .graph--expenses .circle_animation {
    animation: expenses 2s ease-in-out forwards;
  }

  .graph--satisfaction .circle_animation {
    animation: satisfaction 2s ease-in-out forwards;
  }
}

@keyframes expenses {
  to {
    stroke-dashoffset: 80;
  }
}

@keyframes satisfaction {
  to {
    stroke-dashoffset: 160;
  }
}