.hero {
  padding: 0;
  position: relative;
  overflow: hidden;
  .btn.btn-primary {
    border-radius: 1000px;
    @include button-variant($color: #FE6F67);
    box-shadow: 0 6px 24px transparentize($dark-color,.8);
  }
  h1 {
    font-family: $font-stack-header;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 800;
  }

  &__icon {
    font-size: 3rerm;
    color: white;
  }

  &__bg-option,
  &__ol-option {
    display: none;
  }

  &__video {
    background: #22262F;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;

    // When aspect ratio is wider
    @media (min-aspect-ratio: 16/9) {
      height: 300%;
      top: -100%;
      width: 110%;
      left: -5%;
    }

    // When aspect ratio is narrower
    @media (max-aspect-ratio: 16/9) {
      height: 300%;
      top: -100%;
    }

    @media (max-aspect-ratio: 11/9) {
      width: 600%;
      left: -200%;
    }

    @media (max-aspect-ratio: 5/9) {
      width: 600%;
      left: -200%;
    }

  }

  .dampener {
    pointer-events: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: linear-gradient(135deg, rgba(34,196,207,.9) 20%,rgba(34,196,207,0.65) 100%);
  }

  // Background video overlay
  &__ol-option {
    pointer-events: none;
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 1.0;

    &.ol-option-1 {
      mix-blend-mode: hard-light;
      background: linear-gradient(135deg, #22c4cf 0%, rgba(15, 1, 234, 0.9) 100%);
    }

    &.ol-option-2 {
      background: linear-gradient(135deg, rgba(34,196,207,1) 0%,rgba(34,196,207,0.75) 100%);
    }

    &.ol-option-3 {
      mix-blend-mode: hue;
      background: linear-gradient(135deg, rgba(34,196,207,1) 0%,rgba(34,196,207,0.75) 100%);
    }

    &.ol-option-4 {
      mix-blend-mode: lighten;
      background: linear-gradient(135deg, rgba(34,196,207,1) 0%,rgba(34,196,207,0.75) 100%);
    }
  }

  &__content {
    color: white;
    padding: 3rem 0;
    .btn-primary {
      height: auto;
      padding: 1rem 1.5rem;
    }
  }

  &--above {
    position: relative;
    z-index: 2;
  }

  &--below {
    z-index: 0;
  }

  a {
    color: white;
    //text-decoration: underline;
  }
}
