.container {
  position: relative;
}

.space-between {
  justify-content: space-between;
}

.grid-xxl {
  max-width: calc(100% - 4rem);
}

.grid-dense {
  .column {
    padding-left: $unit-1;
    padding-right: $unit-1;
  }
}


@media (min-width: $size-xl) {
  .container.xl-grid-xl {
    max-width: 1344px;
  }
}

.row-vertical {
  flex-direction: column;
}

.row-horizontal {
  flex-direction: row;
}

@media (max-width: $size-xl) {
  .row-vertical-xl { flex-direction: column; }
  .row-horizontal-xl { flex-direction: row; }
}

@media (max-width: $size-lg) {
  .row-vertical-lg { flex-direction: column; }
  .row-horizontal-lg { flex-direction: row; }
}

@media (max-width: $size-md) {
  .row-vertical-md { flex-direction: column; }
  .row-horizontal-md { flex-direction: row; }
}

@media (max-width: $size-sm) {
  .row-vertical-sm { flex-direction: column; }
  .row-horizontal-sm { flex-direction: row; }
}

@media (max-width: $size-xs) {
  .row-vertical-xs { flex-direction: column; }
  .row-horizontal-xs { flex-direction: row; }
}
