.logo {
  display: block;
  max-width: 10rem;
  
  svg {
    max-width: 100%;
    width: 100%;
    height: auto;
  }
  path {
    fill: $primary-color;
  }
  &-dark {
    path {
      fill: $dark-color;
    }
  }
  &-light {
    path {
      fill: $light-color;
    }
  }
}
