.logo {
  svg {
    height: 2.25rem;
  }
  path {
    fill: $primary-color;
  }
  &-dark {
    path {
      fill: $dark-color;
    }
  }
  &-light {
    path {
      fill: $light-color;
    }
  }
}

.ava-logo-bg {
  height: 100%;
  width: auto;
  position: absolute;
  top: 0;
  right: 0;
  opacity: .03;
}
