.navbar {
  padding: $unit-2 $unit-2 0;

  a {
    font-family: $font-stack-header;
    font-size: $font-size-sm;
    font-weight: 500;
    text-decoration: none!important;
    text-transform: uppercase;
  }
  .btn {
    background: transparent;
    border-color: white;
    color: white;
    &:focus {
      @include control-shadow(white);
    }
    &:focus,
    &:hover {
      background: rgba(255,255,255,.1);
      border-color: darken(white, 2%);
      color: white;
    }
    &:active,
    &.active {
      background: transparent;
      border-color: rgba(255,255,255,.5);
      color: $light-color;
    }
    &.loading {
      &::after {
        border-bottom-color: white;
        border-left-color: white;
      }
    }
  }

  /* Spectre overrides */
  .navbar-section {
    flex-basis: 100%;
    justify-content: center !important;

    &:first-child {
      margin-bottom: 1.5rem;
    }

    @media (min-width: $size-sm) {
      flex-basis: 0;
      justify-content: flex-start !important;

      &:first-child { margin-bottom: 0; }
      &:last-child { justify-content: flex-end !important; }
    }
  }
}
