.media {
  &--video {
    width: 100%;
    max-width: 100%;
  }
}

.img-responsive {
  background: $color-neutral-2;
}

.figure .figure-caption {
  margin-top: $unit-1;
  color: $color-neutral-5;
  font-size: 0.75rem;
  font-weight: 500;
  text-transform: uppercase;
  font-family: $font-stack-header;
}
