@import "spectre-variable-overrides";
@import "spectre/spectre";
@import "base/typography";

// type
h2, h3 {
  margin-bottom: 2rem;
}

//section
.section {
  padding: 3rem 0;
}

// logo
.logo {
  svg {
    height: 1.5rem;
  }
  path {
    fill: $primary-color;
  }
  &-dark {
    path {
      fill: $dark-color;
    }
  }
  &-light {
    path {
      fill: $light-color;
    }
  }
}

// bg conditionals
.bg-primary {
  .btn-primary {
    @include button-variant($color: #fe5d5d)
  }
  .btn.btn-link {
    background: transparent;
    color: white;
  }
  a {
    color: white;
    text-decoration: underline;
  }
}

// hero
.hero {
  color: white;
  padding: 5rem 0;
  .btn-primary {
    height: auto;
    padding: 1rem 1.5rem;
  }
}

.hero-bg {
  &:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    mix-blend-mode: color;
    background: $primary-color;
  }

  position: relative;
  overflow: hidden;
  z-index: -100;
  &__video {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &--above {
    position: relative;
    z-index: 100;
  }

  &--below {
    z-index: 1;
  }
}

@media (min-aspect-ratio: 16/9) {
  .hero-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .hero-bg__video {
    width: 300%;
    left: -100%;
  }
}

// navbar
.navbar {
  padding: 1rem;
  a {
    text-decoration: none;
  }
}
