@import "spectre-variable-overrides";
@import "spectre/spectre";
@import "base/variables";
@import "base/fonts";
@import "base/defaults";
@import "base/typography";

@import "components/section";
@import "components/layout";
@import "components/logo";
@import "components/icons";
@import "components/buttons";
@import "components/badges";
@import "components/cards";
@import "components/navbar";
@import "components/hero";
@import "components/graph";
@import "components/forms";
@import "components/tabs";
@import "components/testimonials";
@import "components/footer";
@import "components/diagonal-flair";

@import "utilities/backgrounds";
@import "utilities/color";
@import "utilities/spacing";
@import "utilities/media";
@import "utilities/conditionals";
@import "utilities/visibility";
@import "utilities/z-index";
@import "utilities/breakpoints";

.highlight {
  display: inline-block;
  position: relative;
  font-size: 1.5em;
  margin-top: 0.25em;
  font-weight: 300;
  z-index: 1;
  &:after {
    content: "";
    position: absolute;
    left: 52%;
    right: 0;
    width: 125%;
    height: 180%;
    top: 80%;
    transform: translate(-50%, -50%);
    bottom: 0;
    background: url("../images/metromile-brush-1.png");
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 0;
    z-index: -1;
  }
}

.icon-badge {
  display: inline-block;
  border-radius: 1000px;
  box-shadow: inset 0 0 0 2px $color-brand;
  width: 104px;
  height: 104px;
  position: relative;
  img {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
