@import "spectre-variable-overrides";
@import "spectre/spectre";
@import "base/typography";

//section
.section {
  padding: 3rem 0;
}

// logo
.logo {
  svg {
    height: 1.5rem;
  }
  &-dark {
    path {
      fill: $dark-color;
    }
  }
  &-light {
    path {
      fill: $light-color;
    }
  }
}

// navbar
.navbar {
  padding: 1rem;
}

// hero
.hero {
  padding: 5rem 0;
}
