html {
  background-color: $color-neutral-10;
  font-size: 16px;
}

html,
body {
  min-width: 320px;
  overflow-x: hidden;
  overflow-y: scoll;
  -webkit-overflow-scrolling: touch;
}

::selection {
  background: $color-brand-light-1; /* WebKit/Blink Browsers */
  color: rgba(255,255,255,0.7);
}
::-moz-selection {
  background: $color-brand-light-1; /* Gecko Browsers */
  color: rgba(255,255,255,0.7);
}
