// Obviously Roman
@font-face {
  font-family: 'Obviously';
  src:  url('../fonts/obviously/Obviously-Light.woff2') format('woff2'),
        url('../fonts/obviously/Obviously-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Obviously';
  src:  url('../fonts/obviously/Obviously-Medium.woff2') format('woff2'),
        url('../fonts/obviously/Obviously-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Obviously';
  src:  url('../fonts/obviously/Obviously-Bold.woff2') format('woff2'),
        url('../fonts/obviously/Obviously-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

// Obviously Italic
@font-face {
  font-family: 'Obviously';
  src:  url('../fonts/obviously/Obviously-Light_Italic.woff2') format('woff2'),
        url('../fonts/obviously/Obviously-Light_Italic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Obviously';
  src:  url('../fonts/obviously/Obviously-Medium_Italic.woff2') format('woff2'),
        url('../fonts/obviously/Obviously-Medium_Italic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Obviously';
  src:  url('../fonts/obviously/Obviously-Bold_Italic.woff2') format('woff2'),
        url('../fonts/obviously/Obviously-Bold_Italic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

// Obviously Condensed (Numbers)
@font-face {
  font-family: 'ObviouslyCondensed';
  src:  url('../fonts/obviously/Obviously-Condensed_Light.woff2') format('woff2'),
        url('../fonts/obviously/Obviously-Condensed_Light.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

// Obviously Narrow
@font-face {
  font-family: 'ObviouslyNarrow';
  src:  url('../fonts/obviously/Obviously-Narrow_Bold_Italic.woff2') format('woff2'),
        url('../fonts/obviously/Obviously-Narrow_Bold_Italic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

// Gooper
@font-face {
  font-family: 'Gooper';
  src:  url('../fonts/gooper/Gooper0.3-Light.woff2') format('woff2'),
        url('../fonts/gooper/Gooper0.3-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gooper';
  src:  url('../fonts/gooper/Gooper0.3-Regular.woff2') format('woff2'),
        url('../fonts/gooper/Gooper0.3-Regular.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

// Gooper Italic
@font-face {
  font-family: 'Gooper';
  src:  url('../fonts/gooper/Gooper0.3-LightItalic.woff2') format('woff2'),
        url('../fonts/gooper/Gooper0.3-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Gooper';
  src:  url('../fonts/gooper/Gooper0.3-RegularItalic.woff2') format('woff2'),
        url('../fonts/gooper/Gooper0.3-RegularItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}
