.text-muted {
  color: rgba(0,0,0,0.6);
}

.text-white {
  color: #fff;
}

body {
  font-family: $font-stack-body;
  font-weight: 300;
}

h1, h2, h3, h4, h6 {
  font-family: $font-stack-header;
  font-feature-settings: "salt";
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

h1 {
  font-size: 56px;
  text-transform: uppercase;
  font-weight: 700;
  font-style: italic;
  line-height: 1;
}

h2 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 500;
}

h4 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

h5 {
  font-family: $font-stack-body;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

h6 {
  margin-bottom: $unit-1;
}

blockquote {
  font-family: $font-stack-body;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  font-style: italic;
  color: $color-neutral-6;
  border-left: none;
}

q {
  quotes: "“" "”" "‘" "’";
  position: relative;
}

q:before {
  content: open-quote;
  font-size: 5em;
  line-height: 0.5em;
  position: absolute;
  left: -0.5em;
  top: 0em;
  opacity: 0.25;
}
q:after {
  content: close-quote;
}

p {
  margin-bottom: $unit-2;
}

b {
  font-weight: 400;
}

small {
  font-size: $font-size-sm;
}
