.text-muted {
  color: rgba(0,0,0,0.6);
}

.text-white {
  color: #fff;
}

body {
  font-family: $font-stack-body;
  font-weight: 300;
  font-size: 0.9rem;
  line-height: 1.5;

  @media (min-width: $size-sm) {
    font-size: 1rem;
  }

  @media (min-width: $size-lg) {
    font-size: 1.125rem;
  }
}

h1, h2, h3, h4, h6 {
  font-family: $font-stack-header;
  // font-feature-settings: "salt"; // uncomment for open counter alternates
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

h1 {
  font-size: $font-size-xxxxl;
  text-transform: uppercase;
  font-weight: 700;
  font-style: italic;
  line-height: 1;

  @media (max-width: $size-xl) {
    font-size: $font-size-xxl;
  }

  @media (max-width: $size-lg) {
    font-size: $font-size-xxxl;
    font-family: $font-stack-header-narrow;
  }

  @media (max-width: $size-sm) {
    font-size: $font-size-xxl;
    font-family: $font-stack-header-narrow;
  }

  @media (max-width: $size-xs) {
    font-size: $font-size-xl;
    font-family: $font-stack-header-narrow;
  }
}

h2 {
  font-size: $font-size-xxl;
  text-transform: uppercase;
  line-height: 1;
  font-weight: 700;
  font-style: italic;

  @media (max-width: $size-xl) {
    font-size: $font-size-xxl;
  }

  @media (max-width: $size-lg) {
    font-size: $font-size-xxl;
    font-family: $font-stack-header-narrow;
  }

  @media (max-width: $size-sm) {
    font-size: $font-size-xxl;
    font-family: $font-stack-header-narrow;
  }

  @media (max-width: $size-xs) {
    font-size: $font-size-xl;
    font-family: $font-stack-header-narrow;
  }
}

h4 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

h5 {
  font-family: $font-stack-body;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

h6 {
  margin-bottom: $unit-1;
}

blockquote {
  font-family: $font-stack-body;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.5;
  font-style: italic;
  color: $color-neutral-6;
  border-left: none;
  margin: 0 0 1rem;
  padding: 0;
}

q {
  quotes: "“" "”" "‘" "’";
  position: relative;
}

q:before {
  content: open-quote;
  font-size: 2em;
  line-height: 0.5em;
  position: absolute;
  left: -0.5em;
  top: 0em;
  opacity: 0.25;

  @media (min-width: $size-sm) {
    font-size: 5em;
  }
}
q:after {
  content: close-quote;
}

p {
  margin-bottom: $unit-2;
}

b {
  font-weight: 600;
}

small,
.small {
  font-size: $font-size-sm;
}
