body {
  font-family: 'Gooper';
  font-weight: 300;
}

h1, h2, h3, h4, h6 {
  font-family: 'Obviously';
  font-feature-settings: "salt";
  text-transform: uppercase;
}

h5 {
  font-weight: 400;
}



b {
  font-weight: 600;
}
