$font-stack-header: 'Obviously', Helvetica, sans-serif;
$font-stack-body: 'Obviously', Helvetica, sans-serif;

$mmblue: #0DC0C9;

/* Base: Neutrals */
$color-neutral-1: #ffffff;
$color-neutral-2: hsl(180, 25%, 98%);
$color-neutral-3: #e9eff0;
$color-neutral-4: #c7d1d5;
$color-neutral-5: #9ca9b1;
$color-neutral-6: #717e89;
$color-neutral-7: #4e5864;
$color-neutral-8: #363d49;
$color-neutral-9: #282e38;
$color-neutral-10: #222630;
