$font-stack-header: 'Obviously', Helvetica, sans-serif;
$font-stack-body: 'Gooper', Georgia, serif;
$font-stack-numbers: 'ObviouslyCondensed', 'Helvetica Nueue', Helvetica, sans-serif;

$color-brand: #0DC0C9;
$color-brand-light-1: #0ED2DC;
$color-brand-dark-1: #0099A8;

/* Base: Neutrals */
$color-neutral-1:  #FFFFFF;
$color-neutral-2:  #FAFCFC;
$color-neutral-3:  #EAEFF0;
$color-neutral-4:  #B4BFCA;
$color-neutral-5:  #9EA9B0;
$color-neutral-6:  #747E88;
$color-neutral-7:  #505863;
$color-neutral-8:  #373D48;
$color-neutral-9:  #292E37;
$color-neutral-10: #22262F;
