<header class="hero">
  <div class="hero__dampener"></div>
  <div class="hero__ol"></div>

  <video loop muted autoplay playsinline poster="bg-video-poster.jpg" id="hero__video" class="hero__video z--low">
    <source src="bg-video-md.mp4" type="video/mp4" media="all and (min-width:992px)" />
    <source src="bg-video-sm.mp4" type="video/mp4" media="all and (max-width:992px)" />
  </video>

  <nav class="z--high navbar hero__navbar">
    <section class="navbar-section">
      {{ logo("light") }}
    </section>
    <section class="navbar-section">
      <a href="https://boards.greenhouse.io/metromile" target="_blank" class="tiny-rectangle tiny-rectangle--warning"
        data-badge="We're Hiring!"></a>
      {% if ctaType == "whitepaper" %}
      {{ scheduler("button") }}
      {% endif %}
    </section>
  </nav>

  <section class="z--high hero__content">
    <div class="hero-body container grid-xl text-center">
      <div class="columns mb-3">
        <h1 class="column col-md-12 col-lg-10 col-9 col-mx-auto">
          Your AI-Powered Claims Organization of the Future is Here.
        </h1>
        <div class="column col-xs-12 col-sm-10 col-md-9 col-lg-8 col-6 col-mx-auto">
          <p>
            Metromile built the leading insuretech by creating a sophisticated
            Claims AI platform on top of standard claims management software. We
            realized this platform can help transform the way our industry handles claims.
          </p>
          <p>
            <strong>Now, we’re licensing that platform to you.</strong>
          </p>
        </div>
      </div>
      {% if ctaType == "whitepaper" %}
      <a href="#platform-features" class="btn btn-primary btn-lg mb-2">
        Explore The Platform
      </a>
      <p>
        <small>Or,&nbsp;{{ scheduler() }}</small>
      </p>
      {% elseif ctaType == "demo" %}
      {{ scheduler("button-large") }}
      <p class="small">
        <a href="#platform-features">Explore the Claims AI Platform first</a>
      </p>
      {% endif %}

    </div>

    <h6 class="mt-2 text-center">As seen in</h6>
    <div class="text-center">
      <div class="press-wall">
        <a href="https://www.dig-in.com/news/metromile-licenses-ai-platform-to-tokio-marine" class="press-wall__logo"
          target="_blank" title="As seen in Digital Insurance">
          <img src="/images/press-logo-digital-insurance.png" alt="As seen in Digital Insurance" />
        </a>
        <a href="https://www.carriermanagement.com/news/2018/08/08/182679.htm" class="press-wall__logo" target="_blank"
          title="As seen in Carrier Management">
          <img src="/images/press-logo-carrier-management.png" alt="As seen in Carrier Management" />
        </a>
        <a href="https://coverager.com/tokio-marine-to-use-metromiles-connected-intelligence-platform/"
          class="press-wall__logo" target="_blank" title="As seen in Coverager">
          <img src="/images/press-logo-coverager.png" alt="As seen in Coverager" />
        </a>
        <a href="https://www.propertycasualty360.com/2019/09/18/taking-artificial-intelligence-out-of-the-black-box/"
          class="press-wall__logo" target="_blank" title="As seen in Property Casualty 360°">
          <img src="/images/press-logo-pc360.png" alt="As seen in Property Casualty 360°" />
        </a>
        <a href="https://www.insurancejournal.com/news/national/2018/08/07/497223.htm" class="press-wall__logo"
          target="_blank" title="As seen in Insurance Journal">
          <img src="/images/press-logo-insurance-journal.png" alt="As seen in Insurance Journal" />
        </a>
        <a href="https://asia.nikkei.com/Business/Business-deals/Same-day-insurance-payouts-to-debut-from-Tokio-Marine"
          class="press-wall__logo" target="_blank" title="As seen in Nikkei Asian Review">
          <img src="/images/press-logo-nikkei-asian-review.png" alt="As seen in Nikkei Asian Review" />
        </a>
        <a href="https://www.gdv.de/de/themen/positionen-magazin/-deutschland-steht-ganz-oben-auf-der-liste--50936"
          class="press-wall__logo" target="_blank" title="As seen in German Insurance Association">
          <img src="/images/press-logo-gdv.png" alt="As seen in German Insurance Association" />
        </a>
        <a href="https://www.insurancebusinessmag.com/us/news/commercial-auto/tokio-marine-to-license-metromiles-ai-platform-108249.aspx"
          class="press-wall__logo" target="_blank" title="As seen in Insurance Business America">
          <img src="/images/press-logo-insurance-business-america.png" alt="As seen in Insurance Business America" />
        </a>
        <a href="https://www.bizjournals.com/sanfrancisco/news/2019/02/28/metromile-insurance-jobs-progressive-allstate-wfc.html"
          class="press-wall__logo" target="_blank" title="As seen in San Francisco Business Times">
          <img src="/images/press-logo-sanfrancisco-business-times.png" alt="As seen in San Francisco Business Times" />
        </a>
        <a href="https://venturebeat.com/2017/07/24/per-mile-car-insurance-firm-metromile-debuts-ava-an-automated-claims-system/"
          class="press-wall__logo" target="_blank" title="As seen in Venture Beat">
          <img src="/images/press-logo-venture-beat.png" alt="As seen in Venture Beat" />
        </a>
      </div>
    </div>
  </section>
</header>
