<header class="hero">
  <div class="hero__dampener"></div>
  <div class="hero__ol"></div>

  <video loop muted autoplay playsinline poster="bg-ld.jpg" id="hero__video" class="hero__video z--low">
    <source src="bg-ld.mp4" type="video/mp4" />
  </video>

  <nav class="z--high navbar hero__navbar">
    <section class="navbar-section">
      {{ logo("light") }}
    </section>
    <section class="navbar-section">
      <a href="https://boards.greenhouse.io/metromile" target="_blank">Jobs<span
          class="tiny-rectangle tiny-rectangle--warning" data-badge="We're Hiring!"></span></a>
      {% if ctaType == "whitepaper" %}
      {{ scheduler("button") }}
      {% endif %}
    </section>
  </nav>

  <section class="z--high hero__content">
    <div class="hero-body container grid-xl text-center">
      <div class="columns mb-3">
        <h1 class="column col-md-12 col-lg-10 col-9 col-mx-auto">
          Your AI-Powered Claims Organization of the Future is Here.
        </h1>
        <div class="column col-xs-12 col-sm-10 col-md-9 col-lg-8 col-6 col-mx-auto">
          <p>
            Metromile built the leading insuretech by creating a sophisticated
            Claims AI platform on top of standard claims management software. We
            realized that this platform could transform Insurance Carriers in any industry.
          </p>
          <p>
            <strong>Now, we’re licensing that platform to you.</strong>
          </p>
        </div>
      </div>
      {% if ctaType == "whitepaper" %}
      <a href="#platform-features" class="btn btn-primary btn-lg mb-2">
        Explore The Platform
      </a>
      <p>
        <small>Or,&nbsp;{{ scheduler() }}</small>
      </p>
      {% elseif ctaType == "demo" %}
      {{ scheduler("button-large") }}
      <p class="small">
        <a href="#platform-features">Explore the Claims AI Platform first</a>
      </p>
      {% endif %}
    </div>
  </section>
</header>
